ion-content.background{
    --background: url(../../assets/img/home.jpg) 0 0/100% 100% no-repeat;
}

ion-content.loginopacity{
    --ion-backdrop-opacity: rgba(0, 0, 0, .4);
}

ion-card{
    --background: rgba(0, 0, 0, .7);
}

// ion-item{
//     --background: rgba(0, 0, 0, .9);
// }
