ion-content.background{
    --background: url(../../assets/img/tasks_login.jpg) 0 0/100% 100% no-repeat;
}

ion-content.loginopacity{
    --ion-backdrop-opacity: rgba(0, 0, 0, .9);
}

ion-card{
    --background: rgba(0, 0, 0, .3);
}

ion-item{
    --background: rgba(0, 0, 0, .2);
}